<div><a class="hooya-img" href="https://web.hooya.wesl.ee/cid-content/<TMPL_VAR cid>"><img class="hooya-img-<TMPL_VAR size>" src="https://web.hooya.wesl.ee/cid-thumbnail/<TMPL_VAR cid>/<TMPL_VAR size>"/></a></div>
