<div class="wikipediauserbox" style="float:left;border:1px solid
#6EF7A7;margin:1px;width:238px"><table role="presentation"
style="border-collapse:collapse;width:238px;margin-bottom:0;margin-top:0;background:#C5FCDC;color:inherit"><tbody><tr><td
style="border:0;width:45px;height:45px;background:#6EF7A7;text-align:center;font-size:14pt;font-weight:bold;color:black;padding:0
1px 0 0;line-height:1.25em;vertical-align:middle"><span typeof="mw:File"><a
href="https://en.wikipedia.org/wiki/File:TI-83.png" class="mw-file-description"><img
src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/TI-83.png/20px-TI-83.png"
decoding="async" width="20" height="40" class="mw-file-element"
srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/TI-83.png/30px-TI-83.png
1.5x,
//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/TI-83.png/40px-TI-83.png 2x"
data-file-width="286" data-file-height="573"></a></span></td><td
style="border:0;text-align:left;font-size:8pt;padding:0 4px 0
4px;height:45px;line-height:1.25em;color:black;vertical-align:middle">This user
is a <b>native</b> <a href="https://en.wikipedia.com/wiki/TI-BASIC" title="TI-BASIC">TI-BASIC</a> programmer.</td></tr></tbody></table></div>
