<div class="wikipediauserbox" style="float:left;border:1px solid
#000;margin:1px;width:238px"><table role="presentation"
style="border-collapse:collapse;width:238px;margin-bottom:0;margin-top:0;background:#D0B631;color:inherit"><tbody><tr><td
style="border:0;width:45px;height:45px;background:#A52A2A;text-align:center;font-size:12pt;font-weight:bold;color:#000;padding:0
1px 0 0;line-height:1.25em;vertical-align:middle"><span typeof="mw:File"><a
href="https://en.wikipedia.org/wiki/File:Oil_well.jpg" class="mw-file-description"><img
src="//upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Oil_well.jpg/50px-Oil_well.jpg"
decoding="async" width="50" height="38" class="mw-file-element"
srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Oil_well.jpg/75px-Oil_well.jpg
1.5x,
//upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Oil_well.jpg/100px-Oil_well.jpg
2x" data-file-width="640" data-file-height="480"></a></span></td><td
style="border:0;text-align:left;font-size:8pt;padding:0 4px 0
4px;height:45px;line-height:1.25em;color:#000;vertical-align:middle">This user
is interested in <b><a href="https://en.wikipedia.org/wiki/Peak_oil" title="Peak oil">Peak Oil Theory</a></b>.</td></tr></tbody></table></div>
