<div class="wikipediauserbox" style="float:left;border:1px solid
#FF69B4;margin:1px;width:238px"><table role="presentation"
style="border-collapse:collapse;width:238px;margin-bottom:0;margin-top:0;background:#66CDAA;color:inherit"><tbody><tr><td
style="border:0;width:45px;height:45px;background:#FF69B4;text-align:center;font-size:16pt;font-weight:bold;color:#000000;padding:0
0px 0 0px;line-height:0;vertical-align:middle"><span typeof="mw:File"><a
href="https://en.wikipedia.org/wiki/File:Michelangelo%27s_David_-_63_grijswaarden.png"
class="mw-file-description"><img
src="//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Michelangelo%27s_David_-_63_grijswaarden.png/45px-Michelangelo%27s_David_-_63_grijswaarden.png"
decoding="async" width="45" height="54" class="mw-file-element"
srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Michelangelo%27s_David_-_63_grijswaarden.png/68px-Michelangelo%27s_David_-_63_grijswaarden.png
1.5x,
//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Michelangelo%27s_David_-_63_grijswaarden.png/90px-Michelangelo%27s_David_-_63_grijswaarden.png
2x" data-file-width="180" data-file-height="215"></a></span></td><td
style="border:0;text-align:left;font-size:10pt;padding:0 4px 0
4px;height:45px;line-height:1.25em;color:#FFF8DC;vertical-align:middle">This
"user" listens to <br> <a href="https://en.wikipedia.org/wiki/Vaporwave"
title="Vaporwave">ｖａｐｏｒｗａｖｅ</a>.</td></tr></tbody></table></div>
