<div class="wikipediauserbox" style="float:left;border:1px solid
#3366FF;margin:1px;width:238px"><table role="presentation"
style="border-collapse:collapse;width:238px;margin-bottom:0;margin-top:0;background:white;color:inherit"><tbody><tr><td
style="border:0;width:45px;height:45px;background:#3366FF;text-align:center;font-size:14pt;font-weight:bold;color:black;padding:0
1px 0 0;line-height:0;vertical-align:middle"><span typeof="mw:File"><a
href="https://en.wikipedia.org/wiki/File:Littleghost_black.svg" class="mw-file-description"><img
src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Littleghost_black.svg/35px-Littleghost_black.svg.png"
decoding="async" width="35" height="38" class="mw-file-element"
srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Littleghost_black.svg/53px-Littleghost_black.svg.png
1.5x,
//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Littleghost_black.svg/70px-Littleghost_black.svg.png
2x" data-file-width="193" data-file-height="207"></a></span></td><td
style="border:0;text-align:left;font-size:8pt;padding:0 4px 0
4px;height:45px;line-height:1.25em;color:black;vertical-align:middle">This user
uses <b><a href="https://en.wikipedia.org/wiki/Soulseek" title="Soulseek">Soulseek</a></b>.</td></tr></tbody></table></div>
