<div class="wikipediauserbox" style="float:left;border:1px solid
#000000;margin:1px;width:238px"><table role="presentation"
style="border-collapse:collapse;width:238px;margin-bottom:0;margin-top:0;background:#ffffff;color:inherit"><tbody><tr><td
style="border:0;width:45px;height:45px;background:#ffffff;text-align:center;font-size:12pt;font-weight:bold;color:#;padding:0
1px 0 0;line-height:0;vertical-align:middle"><span typeof="mw:File"><a
href="https://en.wikipedia.org/wiki/File:Food_lion.png"
class="mw-file-description"><img
src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Food_lion.png/60px-Food_lion.png"
decoding="async" width="60" height="14" class="mw-file-element"
srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Food_lion.png/90px-Food_lion.png
1.5x,
//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Food_lion.png/120px-Food_lion.png
2x" data-file-width="133" data-file-height="32"></a></span></td><td
style="border:0;text-align:center;font-size:8pt;padding:0 4px 0
4px;height:45px;line-height:1.25em;color:#005695;vertical-align:middle">This
user shops at <b><a href="https://en.wikipedia.org/wiki/Food_Lion" title="Food Lion"><span style="color:#005695">Food Lion</span></a></b>.</td></tr></tbody></table></div>
