<div class="wikipediauserbox" style="float:left;border:1px solid
Blue;margin:1px;width:238px"><table role="presentation"
style="border-collapse:collapse;width:238px;margin-bottom:0;margin-top:0;background:Yellow;color:inherit"><tbody><tr><td
style="border:0;width:45px;height:45px;background:Blue;text-align:center;font-size:14pt;font-weight:bold;color:black;padding:0
1px 0 0;line-height:0;vertical-align:middle"><span typeof="mw:File"><a
href="https://en.wikipedia.org/wiki/File:718smiley.svg" class="mw-file-description"><img
src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/718smiley.svg/30px-718smiley.svg.png"
decoding="async" width="30" height="30" class="mw-file-element"
srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/718smiley.svg/45px-718smiley.svg.png
1.5x,
//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/718smiley.svg/60px-718smiley.svg.png
2x" data-file-width="733" data-file-height="733"></a></span></td><td
style="border:0;text-align:left;font-size:8pt;padding:0 4px 0
4px;height:45px;line-height:1.25em;color:black;vertical-align:middle">This user
is happy.</td></tr></tbody></table></div>
