<div class="wikipediauserbox" style="float:left;border:1px solid
lightgreen;margin:1px;width:238px">
<table role="presentation"
style="border-collapse:collapse;width:238px;margin-bottom:0;margin-top:0;background:blue;color:inherit"><tbody><tr><td
style="border:0;width:45px;height:45px;background:red;text-align:center;font-size:14pt;font-weight:bold;color:white;padding:0
1px 0 0;line-height:1.25em;vertical-align:middle">N<span style="text-decoration:
overline white; font-size: 11px;">OS</span></td><td
style="border:0;text-align:left;font-size:8pt;padding:0 4px 0
4px;height:45px;line-height:1.25em;color:white;vertical-align:middle">This user
drinks <a href="" title="NOS (drink)"><span style="color:
white;"><b>NOS</b></span></a>.</td></tr></tbody></table></div>
