<div class="wikipediauserbox" style="float:left;border:1px solid
lightgreen;margin:1px;width:238px"><table role="presentation"
style="border-collapse:collapse;width:238px;margin-bottom:0;margin-top:0;background:lightyellow;color:inherit"><tbody><tr><td
style="border:0;width:50px;height:45px;background:lightblue;text-align:center;font-size:9pt;font-weight:bold;color:red;padding:0
1px 0 0;line-height:1.25em;vertical-align:middle">まんが<br>タイム<br>きらら</td><td
style="border:0;text-align:left;font-size:8pt;padding:0 4px 0
4px;height:45px;line-height:1.25em;color:black;vertical-align:middle">This user
usually reads manga from <b><a
href="https://en.wikipedia.org/wiki/Manga_Time_Kirara" title="Manga Time
Kirara">Manga Time Kirara</a></b>.</td></tr></tbody></table></div>
