<div class="wikipediauserbox" style="float:left;border:1px solid
#6EF7A7;margin:1px;width:238px"><table role="presentation"
style="border-collapse:collapse;width:238px;margin-bottom:0;margin-top:0;background:#C5FCDC;color:inherit"><tbody><tr><td
style="border:0;width:45px;height:45px;background:#6EF7A7;text-align:center;font-size:14pt;font-weight:bold;color:black;padding:0
1px 0 0;line-height:0;vertical-align:middle"><span typeof="mw:File"><a
href="https://en.wikipedia.org/wiki/File:TI-83.png" class="mw-file-description"><img
src="//commons.wikimedia.org/wiki/Special:FilePath/TI-83.png?width=20"
decoding="async" width="20" height="40" class="mw-file-element"
srcset="//commons.wikimedia.org/wiki/Special:FilePath/TI-83.png?width=30
1.5x,
//commons.wikimedia.org/wiki/Special:FilePath/TI-83.png?width=40 2x"
data-file-width="286" data-file-height="573"></a></span></td><td
style="border:0;text-align:left;font-size:8pt;padding:0 4px 0
4px;height:45px;line-height:1.25em;color:black;vertical-align:middle">This user
is a <b>native</b> <a href="https://en.wikipedia.org/wiki/TI-BASIC" title="TI-BASIC">TI-BASIC</a> programmer.</td></tr></tbody></table></div>
