<div class="wikipediauserbox" style="float:left;border:1px solid
black;margin:1px;width:238px"><table role="presentation"
style="border-collapse:collapse;width:238px;margin-bottom:0;margin-top:0;background:silver;color:inherit"><tbody><tr><td
style="border:0;width:45px;height:45px;background:black;text-align:center;font-size:14pt;font-weight:bold;color:black;padding:0
1px 0 0;line-height:1.25em;vertical-align:middle"><span typeof="mw:File"><a
href="/wiki/File:The_Earth_seen_from_Apollo_17.jpg"
class="mw-file-description"><img
src="//upload.wikimedia.org/wikipedia/commons/thumb/9/97/The_Earth_seen_from_Apollo_17.jpg/40px-The_Earth_seen_from_Apollo_17.jpg"
decoding="async" width="40" height="40" class="mw-file-element"
srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/97/The_Earth_seen_from_Apollo_17.jpg/60px-The_Earth_seen_from_Apollo_17.jpg
1.5x,
//upload.wikimedia.org/wikipedia/commons/thumb/9/97/The_Earth_seen_from_Apollo_17.jpg/80px-The_Earth_seen_from_Apollo_17.jpg
2x" data-file-width="3000" data-file-height="3002"></a></span></td><td
style="border:0;text-align:left;font-size:8pt;padding:0 4px 0
4px;height:45px;line-height:1.25em;color:black;vertical-align:middle">This user
loves using <b><a href="https://en.wikipedia.org/wiki/Google_Earth" title="Google Earth">Google Earth</a></b>.</td></tr></tbody></table></div>
