<div class="wikipediauserbox" style="float:left;border:1px solid
black;margin:1px;width:238px"><table role="presentation"
style="border-collapse:collapse;width:238px;margin-bottom:0;margin-top:0;background:black;color:inherit"><tbody><tr><td
style="border:0;width:45px;height:45px;background:black;text-align:center;font-size:12pt;font-weight:bold;color:#000;padding:0
1px 0 0;line-height:1.25em;vertical-align:middle"><span typeof="mw:File"><a
href="https://en.wikipedia.org/wiki/File:Skull_and_Crossbones.svg" class="mw-file-description"><img
src="//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Skull_and_Crossbones.svg/50px-Skull_and_Crossbones.svg.png"
decoding="async" width="50" height="48" class="mw-file-element"
srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Skull_and_Crossbones.svg/75px-Skull_and_Crossbones.svg.png
1.5x,
//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Skull_and_Crossbones.svg/100px-Skull_and_Crossbones.svg.png
2x" data-file-width="510" data-file-height="490"></a></span></td><td
style="border:0;text-align:center;font-size:8pt;padding:0 4px 0
4px;height:45px;line-height:1.25em;color:white;vertical-align:middle">This user
is <a href="https://en.wikipedia.org/wiki/Death" title="Death"><span style="color:#ffffff"><b>mortal</b></span></a>.</td></tr></tbody></table></div>
